.login-page{
    /* margin-left: 30px; */
    display: flex;
     align-items: center;
    height: 100vh; 
}
.login-container{
    width: 40%;
    margin: auto;
    
}
.login-user-name{
    border-radius: 10px !important;
    padding-left: 20px;
    height: 40px;
    width: 100%;
    z-index: 0 !important;
}
.login-password-icon-box{
    margin-left: -50px !important;
    height: 40px;
    border: none;
    background: transparent;
    z-index: 1;
}
.login-password-icon{
    z-index: 1;
}
.login-btn:hover {
    background: #13274b;
    color: white;
}
.weloce-text{
    margin-top: 40px;
}


.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
  .login-error-msg{
    color:red
  }
  @media only screen and (max-width: 850px){
    .login-container{
        width: 60%;
        margin: auto;
        
    }
  }
  @media only screen and (max-width: 600px){
    .login-container{
        width: 80%;
        margin: auto;
        
    }
  }